/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page imagemagickreqguide ImageMagick Module Requirements

    @tableofcontents

    This module requires:
    - %Qore 2.0+
    - ImageMagick 7.0+ with MagickWand development libraries
      - Ubuntu/Debian: \c libmagickwand-dev
      - Alpine: \c imagemagick-dev
      - Fedora/RHEL: \c ImageMagick-devel
*/
