/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page imagemagicknoiseguide Noise Types

    @tableofcontents

    Noise types for @ref Qore::ImageMagick::MagickImage::addNoise() "MagickImage::addNoise()":

    |!Noise Type|!Description
    |Uniform|Uniform random noise
    |Gaussian|Gaussian (normal distribution) noise
    |Multiplicative|Multiplicative Gaussian noise
    |Impulse|Impulse (salt and pepper) noise
    |Laplacian|Laplacian noise
    |Poisson|Poisson noise
*/
