/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page imagemagickcompositeguide Composite Operators

    @tableofcontents

    Available blending operators for
    @ref Qore::ImageMagick::MagickImage::composite() "MagickImage::composite()" and
    @ref Qore::ImageMagick::MagickImage::compositeGravity() "MagickImage::compositeGravity()":

    |!Operator|!Description
    |Over|Standard overlay (respects alpha channel)
    |Multiply|Multiply blend (darkening, like darkroom double exposure)
    |Screen|Screen blend (lightening effect)
    |Overlay|Overlay blend (contrast enhancement)
    |Add|Additive blend
    |Difference|Absolute difference of colors
    |Dissolve|Dissolve blend
    |HardLight|Hard light blend
    |SoftLight|Soft light blend
    |ColorBurn|Color burn blend
    |ColorDodge|Color dodge blend
    |Exclusion|Exclusion blend
*/
