/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page imagemagickcolorspacesguide Colorspaces

    @tableofcontents

    Supported colorspaces for
    @ref Qore::ImageMagick::MagickImage::transformColorspace() "MagickImage::transformColorspace()":

    |!Colorspace|!Description
    |sRGB|Standard RGB (default for web)
    |RGB|Linear RGB
    |CMYK|Cyan, Magenta, Yellow, Key (print)
    |Gray|Grayscale
    |HSL|Hue, Saturation, Lightness
    |HSV|Hue, Saturation, Value
    |Lab|CIE L*a*b* (perceptual)
    |LCH|Lightness, Chroma, Hue
    |YCbCr|Luminance + Chrominance (video)
    |Transparent|Transparent colorspace
*/
