/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page imagemagickgravityguide Gravity Types

    @tableofcontents

    Gravity types for positioning in
    @ref Qore::ImageMagick::MagickImage::compositeGravity() "MagickImage::compositeGravity()":

    |!Gravity|!Position
    |NorthWest|Top-left corner
    |North|Top center
    |NorthEast|Top-right corner
    |West|Center left
    |Center|Center of image
    |East|Center right
    |SouthWest|Bottom-left corner
    |South|Bottom center
    |SouthEast|Bottom-right corner
*/
